  <td>
    {{model.name}}
  </td>
  <td>
    {{model.count}}
  </td>
  <td>
    {{getPackageName()}}
  </td>
  <td>
    <a *ngIf="model.buyLink != ''" href="{{model.buyLink}}" target="_blank">buy</a>
  </td>
  <td>
    {{model.position}}
  </td>
  <td class="btn-group">
    <app-edit-part-form [(parts)]="parts" [(part)]="model" [(packages)]="packages" [(properties)]="properties"></app-edit-part-form> |
    <a (click)="OnDetailsClick()">Details</a> |
    <a (click)="OnDeleteClick()">Delete</a>
  </td>
